{{#em-modal configName="bs" id="notesModal"}}

  {{#em-modal-title}}
    {{#em-modal-toggler class="close"}}x{{/em-modal-toggler}}
    <h4 class="modal-title">{{notes.length}} {{quote.Symbol}} Notes</h4>
  {{/em-modal-title}}

  {{#em-modal-body}}
      {{textarea value=text cols="75" rows="6"}}
      <div class="action-buttons clearfix">
        <div class="pull-right">
          <button {{action "addNote" quote.Symbol}} class="btn btn-primary">Add Note</button>
          {{#em-modal-toggler class="btn btn-default"}}Close{{/em-modal-toggler}}
        </div>
      </div>

      <div id="notes">
        <h5>Notes</h5>
        {{#if notes.length}}
          <ul class="note list-unstyled">
          {{#each notes as |note|}}
            <li>
              {{note.text}}
              <button {{action "deleteNote" note.id}}
                class="pull-right close">x</button>
            </li>
          {{/each}}
          </ul>
        {{else}}
          You haven't added any yet...
        {{/if}}
      </div>
  {{/em-modal-body}}

{{/em-modal}}
